<h1>Navegue e Explore</h1>

<%= link_to 'Cidades', '/cities'%>
<%= link_to 'Cidades 2', '/cities'%>

<h2>Conheça os <%= cookies[:teste_C] %></h2>
<h2> E </h2>
<h2>Decubra as <%= session[:teste_S] %></h2>

<% alert_msg = Time.now.hour < 12 ? "Bom dia" : Time.now < 18 ? "Boa tarde" : "Boa noite"%>

<script>
$.notify("<%= alert_msg %>", "success");
console.log("teste");
</script>
